
*.vsidx
*.cache
*.cache
BibliotecaAspNet/BibliotecaAspNet/obj/Debug/BibliotecaAspNet.csproj.AssemblyReference.cache
BibliotecaAspNet/BibliotecaAspNet/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
